<h1 class="my-4">
    Directorio de contacto 
    <% if user_signed_in? && current_user.is_admin? %>
    <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#newContacto">
        Nuevo contacto
    </button>
    <%end%>
</h1>

<div class="row">
    <% @contactos.each do |contacto| %>
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <% if user_signed_in? && current_user.is_admin? %>
                        <a class="close cursor-poiter" aria-label="Close" href="/contacto/<%= contacto.id %>" data-method="delete">
                            <span aria-hidden="true">&times;</span>
                        </a>
                    <%end%>
                    <h5 class="card-title"><%= contacto.nombre %></h5>
                    <h6 class="card-subtitle mb-2 text-muted"><%= contacto.puesto %></h6>
                    <p class="card-text"><strong>Horario de atención: </strong><br><%= contacto.horario %></p>
                    <p class="card-text"><strong>Correo electrónico: </strong><br><%= contacto.email %></p>
                    <p class="card-text"><strong>Número de teléfono: </strong><br><%= contacto.telefono %></p>
                </div>
            </div>
        </div>
    <%end%>
</div>

<!-- Modal -->
<div class="modal fade" id="newContacto" tabindex="-1" role="dialog" aria-labelledby="newContactoTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newContactoTitle">Nuevo contacto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <%= form_tag( '/contacto', method: 'post') do |f| %>
          <div class="modal-body">
              <div class="form-group">
                  <%= label_tag :contacto_nombre, 'Nombre' %><br />
                  <input type="text" class="form-control" name="contacto[nombre]" id="contacto_nombre">
              </div>
              <div class="form-group">
                  <%= label_tag :contacto_puesto, 'Puesto' %><br />
                  <input type="text" class="form-control" name="contacto[puesto]" id="contacto_puesto">
              </div>
              <div class="form-group">
                  <%= label_tag :contacto_telefono, 'Teléfono' %><br />
                  <input type="phone" class="form-control" name="contacto[telefono]" id="contacto_telefono">
              </div>
              <div class="form-group">
                  <%= label_tag :contacto_email, 'Correo electrónico' %><br />
                  <input type="email" class="form-control" name="contacto[email]" id="contacto_email">
              </div>
              <div class="form-group">
                  <%= label_tag :contacto_horario, 'Horario de atención' %><br />
                  <input type="text" class="form-control" name="contacto[horario]" id="contacto_horario">
              </div>
          </div>
          <div class="modal-footer">
              <input type="submit" name="commit" class="btn btn-success" value="Guardar" data-disable-with="Guardar">
          </div>
        <% end %>
    </div>
  </div>
</div>
