<div class="row mt-5">
    <div class="col-md-7 azul text-white pt-4 px-4">
        <h1>Misión</h1>
        <p>La Facultad de Contaduría y Administración, Campus I, forma de manera integral profesionales en las áreas económico-administrativas y sistemas computacionales; generadores de cambio y mejoramiento continuo, capaces de analizar los problemas de su entorno y de proponer, implantar y evaluar las soluciones a los mismos, con valores éticos y morales de acuerdo a las necesidades de desarrollo científico y tecnológico que demanda la sociedad.</p>
    </div>
    <div class="col-md-5 px-0">
        <img src="https://www.chiapasparalelo.com/wp-content/uploads/2014/10/UNACH-5.jpg" width="100%">
    </div>
</div>
<div class="row mb-5">
    <div class="col-md-5 px-0">
        <img src="http://tiempoyforma.com/img/publicaciones/unach-no-ha-sido-notificada-sobre-el-caso-de-la-estafa-maestra.JPG" width="100%">
    </div>
    <div class="col-md-7 dorado text-white pt-4 px-4">
        <h1>Visión</h1>
        <p>La Facultad de Contaduría y Administración, Campus I, forma de manera integral profesionales en las áreas económico-administrativas y sistemas computacionales; generadores de cambio y mejoramiento continuo, capaces de analizar los problemas de su entorno y de proponer, implantar y evaluar las soluciones a los mismos, con valores éticos y morales de acuerdo a las necesidades de desarrollo científico y tecnológico que demanda la sociedad.</p>
    </div>
</div>
