<h1 class="my-4">Docentes <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#newDocente">
  Nuevo docente
</button></h1>

<table class="table">
  <thead class="azul text-white">
    <tr>
      <th>Nombre</th>
      <th>Correo electrónico</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @docentes.each do |docente| %>
      <tr>
        <td><%= docente.nombre %></td>
        <td><%= docente.email %></td>
        <td class="text-right"><a href="/docentes/<%= docente.id %>" data-method="delete" class="btn btn-sm btn-danger">Eliminar</a></td>
      </tr>
    <% end %>
  </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="newDocente" tabindex="-1" role="dialog" aria-labelledby="newDocenteTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newDocenteTitle">Nuevo docente</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <%= form_tag( '/docentes', method: 'post') do |f| %>
          <div class="modal-body">
              <div class="form-group">
                  <%= label_tag :user_nombre, 'Nombre' %><br />
                  <input type="text" class="form-control" name="user[nombre]" id="user_nombre">
              </div>
              <div class="form-group">
                  <%= label_tag :user_email, 'Correo electrónico' %><br />
                  <input type="email" class="form-control" name="user[email]" id="user_email">
              </div>
          </div>
          <div class="modal-footer">
              <input type="submit" name="commit" class="btn btn-success" value="Guardar" data-disable-with="Guardar">
          </div>
        <% end %>
    </div>
  </div>
</div>
