<%= form_with(model: horario, local: true) do |form| %>
  <% if horario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(horario.errors.count, "error") %> prohibited this horario from being saved:</h2>

      <ul>
      <% horario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :matter_id %>
    <%= form.select :matter_id, Matter.all.collect { |m| [ m.nombre, m.id ] } %>
  </div>

  <div class="field">
    <%= form.label :matter_id %>
    <%= form.text_field :asunto %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
