<h1 class="my-4">Horarios</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Dia</th>
      <th>Hora</th>
      <th>Laboratorio</th>
      <th>Materia</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @horarios.each do |horario| %>
      <tr>
        <td><%= horario.dia %></td>
        <td><%= horario.hora %></td>
        <td><%= horario.laboratorio.nombre %></td>
        <td><%= horario.asunto %></td>
        <td><%= link_to 'Edit', edit_horario_path(horario) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Horario', new_horario_path %>
