<h1>New Horario</h1>

<%= form_with(model: @horario, local: true) do |form| %>
  <% if @horario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@horario.errors.count, "error") %> prohibited this horario from being saved:</h2>

      <ul>
      <% @horario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :dia %>
    <% semana = [{value: 'lu', nombre: 'Lunes'}, {value: 'ma', nombre: 'Martes'}, {value: 'mi', nombre: 'Miércoles'}, {value: 'ju', nombre: 'Jueves'}, {value: 'vi', nombre: 'Viernes'}, {value: 'sa', nombre: 'Sábado'}] %>
    <%= form.select :dia, semana.collect { |d| [ d[:nombre], d[:value] ] } %>
  </div>

  <div class="field">
    <%= form.label :hora %>
    <%= form.text_field :hora %>
  </div>

  <div class="field">
    <%= form.label :laboratorio_id %>
    <%= form.select :laboratorio_id, Laboratorio.all.collect { |l| [ l.nombre, l.id ] } %>
  </div>

  <div class="field">
    <%= form.label :matter_id %>
    <%= form.select :matter_id, Matter.all.collect { |m| [ m.nombre, m.id ] } %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Back', horarios_path %>
