<h1 class="my-4">Materias</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @matters.each do |matter| %>
      <tr>
        <td><%= matter.nombre %></td>
        <td><%= link_to 'Editar', edit_matter_path(matter) %></td>
        <td><%= link_to 'Eliminar', matter, method: :delete, data: { confirm: '¿Seguro de querer eliminar esta materia?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Matter', new_matter_path %>
