<div class="mt-5 col-md-6 offset-md-3">
  <h2>Iniciar sesión</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group">
      <%= f.label :email, 'Correo electrónico'%><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "ejemplo@mail" %>
    </div>

    <div class="form-group">
      <%= f.label :password, 'Contraseña' %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "******" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="form-group">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, 'Recordar sesión' %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Iniciar", class: "btn btn-success btn-block"%>
    </div>
  <% end %>
</div>
