<%= form_with(model: laboratorio, local: true) do |form| %>
  <div class="form-group">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :ubicacion,  'Ubicación' %>
    <%= form.text_field :ubicacion, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :equipos, 'Número de equipos' %>
    <%= form.number_field :equipos, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit 'Guardar', class: 'btn btn-success' %>
  </div>
<% end %>
