<h1 class="my-4">Laboratorios <%= link_to 'Nuevo laboratorio', new_laboratorio_path, class: 'btn btn-sm btn-success' if user_signed_in? && current_user.is_admin? %></h1>

<table class="table">
  <thead class="azul text-white">
    <tr>
      <th>Nombre</th>
      <th>Ubicación</th>
      <th>No. Equipos</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @laboratorios.each do |laboratorio| %>
      <tr>
        <td><%= laboratorio.nombre %></td>
        <td><%= laboratorio.ubicacion %></td>
        <td><%= laboratorio.equipos %></td>
        <td class="text-right">
          <%= link_to 'Ver horario', laboratorio, class: 'btn btn-sm btn-success' %>
          <%= link_to 'Editar', edit_laboratorio_path(laboratorio), class: 'btn btn-sm btn-info' if user_signed_in? && current_user.is_admin? %>
          <%= link_to 'Eliminar', laboratorio, method: :delete, data: { confirm: '¿Seguro de querer eliminar este laboratorio?' }, class: 'btn btn-sm btn-danger' if user_signed_in? && current_user.is_admin? %>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>
