<h1 class="my-4"><%= @laboratorio.nombre %> <%= link_to 'Reiniciar horario', "/laboratorios/#{@laboratorio.id}/horario", method: :delete, class: 'btn btn-sm btn-success', data: { confirm: 'Esto eliminará todos los horarios del laboratorio, ¿desea continuar?' } %></h1>

<table class="table table-striped table-bordered text-center">
  <thead class="azul text-white">
    <tr>
      <th>Hora</th>
      <th>Lunes</th>
      <th>Martes</th>
      <th>Miércoles</th>
      <th>Jueves</th>
      <th>Vierenes</th>
      <th>Sábado</th>
    </tr>
  </thead>
  <% dias = ['lu', 'ma', 'mi', 'ju', 'vi', 'sa'] %>
  <% hora = ['78', '89', '910', '1011', '1112', '1213', '1314', '1415', '1516', '1617', '1718', '1819', '1920', '2021', '2122'] %>
  <% td = ['07:00 - 08:00', '08:00 - 09:00', '09:00 - 10:00', '10:00 - 11:00', '11:00 - 12:00', '12:00 - 13:00', '13:00 - 14:00', '14:00 - 15:00', '15:00 - 16:00', '16:00 - 17:00', '17:00 - 18:00', '18:00 - 19:00', '19:00 - 20:00', '20:00 - 21:00', '21:00 - 22:00'] %>
  <tbody>
      <% hora.each_with_index do |hora, i| %>
        <tr>
          <td><%= td[i] %></td>
          
          <% dias.each do |dia| %>
            <td>
              <% horario = @horario[:"#{dia}#{hora}"] %>
              <% if user_signed_in? %>
                <% if horario[:asunto] && (horario[:user_id] == current_user.id || current_user.is_admin? ) %>
                  <div class="dropdown">
                    <i class="fa fa-ellipsis-v cursor-poiter pt-1" style="float: right; opacity: .8;" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </i>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#" data-toggle="modal" data-target="#editModal" data-id="<%= horario[:id] %>">Editar</a>
                      <a class="dropdown-item" href="/horarios/<%= horario[:id] %>" data-method="delete">Eliminar</a>
                    </div>
                  </div>
                <%elsif horario[:asunto] == '' || horario[:asunto] == nil%>
                  <i class='fas fa-plus cursor-poiter' data-toggle="modal" data-target="#editModal" data-id="<%= horario[:id] %>"></i>
                <%end%>
              <%end%>
              <span class='cursor-poiter' data-toggle="modal" data-target="#showModal" data-id="<%= horario[:id] %>"><%= horario[:asunto] %></span>
            </td>
          <%end%>
        </tr>
      <%end%>
  </tbody>
</table>

<!-- Modal Editar -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title edit-title" id="editModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_tag( '/horarios/' , method: 'put', id: 'formEdit') do |f| %>
        <%= csrf_meta_tags %>
        <div class="modal-body">
          <% if user_signed_in? && current_user.is_admin? %>
            <div class="form-group">
              <label for="horario_user_id" class="col-form-label">Maestro:</label>
              <%= select_tag :user_id, options_for_select(@users.collect {|u| [ u.nombre, u.id ] }), class: 'form-control' %>
            </div>
          <%end%>
          <div class="form-group">
            <label for="horario_asunto" class="col-form-label">Asunto:</label>
            <input type="text" class="form-control" id="horario_asunto" name="horario[asunto]">
          </div>
          <div class="form-group">
            <label for="horario_nota" class="col-form-label">Nota:</label>
            <textarea class="form-control" id="horario_nota" name="horario[nota]"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <input type="submit" class="btn btn-success" value="Guardar">
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- Modal Show -->
<div class="modal fade" id="showModal" tabindex="-1" role="dialog" aria-labelledby="showModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title show-title" id="showModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body">
            <div class="form-group">
              <label for="horario_user_id" class="col-form-label">Maestro:</label>
              <p class="maestro"></p>
            </div>
          <div class="form-group">
            <label for="horario_asunto" class="col-form-label">Asunto:</label>
            <p class="asunto"></p>
          </div>
          <div class="form-group">
            <label for="horario_nota" class="col-form-label">Nota:</label>
            <p class="nota"></p>
          </div>
        </div>
    </div>
  </div>
</div>


<% if user_signed_in? %>
  <script>
    $('#editModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget); // Button that triggered the modal
      var id_horario = button.data('id'); // Extract info from data-* attributes
      // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
      // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
      $.get( "/horarios/"+id_horario+".json", function( data ) {
        modal.find('.edit-title').text(data['dia']+" | "+data['hora']);
        $('#formEdit').attr('action', '/horarios/'+id_horario);
        modal.find('.modal-body input').val(data['asunto']);
        modal.find('.modal-body textarea').val(data['nota']);
      });
      
      var modal = $(this);
    })
  </script>
<%end%>

<script>
    $('#showModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget); // Button that triggered the modal
      var id_horario = button.data('id'); // Extract info from data-* attributes
      // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
      // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
      $.get( "/horarios/"+id_horario+".json", function( data ) {
        modal.find('.show-title').text(data['dia']+" | "+data['hora']);
        $('#formEdit').attr('action', '/horarios/'+id_horario);
        modal.find('.modal-body .maestro').text(data['maestro']);
        modal.find('.modal-body .asunto').text(data['asunto']);
        modal.find('.modal-body .nota').text(data['nota']);
      });
      
      var modal = $(this);
    })
  </script>
