.cursor-poiter { cursor: pointer }

.azul { background-color: #18386b !important }
.dorado { background-color: #c29c2b !important }

.nav-item { 
    border-bottom: 2px solid #18386b;
    transition: 0.5s;
 }

 .nav-item:hover {
     border-bottom: 2px solid #d2a92d;
 }

 .active {
    border-bottom: 2px solid #d2a92d;
 }

 .btn-success {
     background-color: #18386b !important;
     border-color: #18386b !important;
 }

 .btn-success:focus, .btn-success.focus {
    box-shadow: 0 0 0 0.2rem rgba(72, 97, 180, 0.5) !important;
}

.btn-info {
    background-color: #d2a92d !important;
    border-color: #d2a92d !important;
}

.btn-info:focus, .btn-info.focus {
   box-shadow: 0 0 0 0.2rem rgba(180, 160, 72, 0.5) !important;
}

.btn-danger {
    background-color: #d2402d !important;
    border-color: #d2402d !important;
}

.btn-danger:focus, .btn-danger.focus {
   box-shadow: 0 0 0 0.2rem rgba(180, 160, 72, 0.5) !important;
}
