<!DOCTYPE html>
<html>
  <head>
    <title>Control de laboratorios</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark azul">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="/">
          Control de laboratorios
        </a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item <%= @laboratorios_active %>">
            <a class="nav-link" href="/laboratorios">Laboratorios</a>
          </li>
          <% if user_signed_in? && current_user.is_admin? %>
            <li class="nav-item <%= @docentes_active %>">
              <a class="nav-link" href="/docentes">Docentes</a>
            </li>
          <%end%>
          <li class="nav-item <%= @mision_active %>">
            <a class="nav-link" href="/mision-vision">Misión y Visión</a>
          </li>
          <li class="nav-item <%= @contacto_active %>">
            <a class="nav-link" href="/contacto">Contacto</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
           <% if user_signed_in? %>
            <div class="dropdown-divider"></div>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-user" aria-hidden="true"></i> <%= current_user.nombre %>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Editar cuenta</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" data-method="delete" href="/users/sign_out">Cerrar sesión</a>
              </div>
            </li>
            <%else%>
              <li class="nav-item">
                <a class="nav-link" href="/users/sign_in">Iniciar sesión</a>
              </li>
            <%end%>
        </ul>
      </div>
    </nav>
    <div class="container mt-5 pt-4">
      <% if notice %>
        <div id="notice" class="alert alert-success mt-3" role="alert">
          <%= notice %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <%elsif alert%>
        <div id="alert" class="alert alert-danger mt-3" role="alert">
          <%= alert %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <%end%>
      <%= yield %>
    </div>
  </body>
</html>
